header {
    text-align: center;
    background-color: #E64856;
    color: white;
    padding: 15px;

}
body {
    font-family: Arial;
    margin: 0;
  }

main {
    display: flex;
    padding: 20px;  
    /* flex content */
    flex-direction: row;
    flex-wrap: wrap;
    /* align all content to the center */
    justify-content: center;
    /* centers the cards in the middle */
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    width: 15rem;;
    margin: 10px;
}

.list-group{
    margin: 10px;
    font-size: 12px;
}
